extends: default
rules:
  document-start: disable
  indentation:
    spaces: 2
    indent-sequences: false
  line-length:
    max: 100
    ignore: |
      kubernetes/base/client/statefulset.yaml
      kubernetes/base/common/package/hive/job.yaml
      kubernetes/base/common/package/tez/job.yaml
