# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

DOCKER_IMAGE_NAME_PREFIX=zookage

# ubuntu:24.04
UBUNTU_IMAGE=ubuntu@sha256:d1e2e92c075e5ca139d51a140fff46f84315c0fdce203eab2807c7e495eff4f9
# eclipse-temurin:8-jdk-noble
JDK_8_IMAGE=eclipse-temurin@sha256:ed6b707e60855fc5c472cd2d6ab368d231c593b5f14f2118fb7af576870ee81f
# eclipse-temurin:11-jdk-noble
JDK_11_IMAGE=eclipse-temurin@sha256:f3d73756b7c2000c71d8f16f635007e198e45415203d0e5cefdf5ed037a0cb44
# eclipse-temurin:17-jdk-noble
JDK_17_IMAGE=eclipse-temurin@sha256:53624190bd3b97f80b2291ac874a4264f7c03c271cb7bd0bc045541822f26061
# eclipse-temurin:21-jdk-noble
JDK_21_IMAGE=eclipse-temurin@sha256:efec1fca48fed530d4727c1ecd9c48d955153bad24067ee43ccf55e6e0d727c7
# eclipse-temurin:25-jdk-noble
JDK_25_IMAGE=eclipse-temurin@sha256:2ea6953c5ee7e290ce9c2cf9693af81407319454ff7951c3a7fb4632fa6917d6
# maven:3-eclipse-temurin-8-noble
MAVEN_3_JDK_8_IMAGE=maven@sha256:5ad4be2ba5946d2513786e6e5374659a28e39ad5f3dfbc8a9109e1d3a1fde655
# maven:3-eclipse-temurin-11-noble
MAVEN_3_JDK_11_IMAGE=maven@sha256:f39c21c3fef9ec69a85fa024c5513fb28dbcd2f282a27a11dae4568b7547f535
# maven:3-eclipse-temurin-17-noble
MAVEN_3_JDK_17_IMAGE=maven@sha256:a0603aab698040d9c94259f379ec0487da1678560748d6c7508483034033c53d
# maven:3-eclipse-temurin-21-noble
MAVEN_3_JDK_21_IMAGE=maven@sha256:c3c9d3ac4ce8431a3995c0318b8d390f448e693dd4fabc16e9b68d2e1f3d7b46
# maven:3-eclipse-temurin-25-noble
MAVEN_3_JDK_25_IMAGE=maven@sha256:ead089762c4b14b55afc356a17d5034adbb62d77c368a67bd5703c12a4582afc
# keycloak/keycloak:26.5
KEYCLOAK_IMAGE=keycloak/keycloak@sha256:ae8efb0d218d8921334b03a2dbee7069a0b868240691c50a3ffc9f42fabba8b4

HADOOP_SOURCE_DIR=~/Documents/zookage/hadoop
HBASE_SOURCE_DIR=~/Documents/zookage/hbase
HIVE_SOURCE_DIR=~/Documents/zookage/hive
OZONE_SOURCE_DIR=~/Documents/zookage/ozone
RANGER_SOURCE_DIR=~/Documents/zookage/ranger
SPARK_SOURCE_DIR=~/Documents/zookage/spark
TEZ_SOURCE_DIR=~/Documents/zookage/tez
TRINO_SOURCE_DIR=~/Documents/zookage/trino
ZOOKEEPER_SOURCE_DIR=~/Documents/zookage/zookeeper
